p {
  font-family: Lato;
}
h2 {
  text-align: center;
  color: brown;
}
table {
  text-align: center;
  width: 100%;
  border: 1px solid;
  font-size: x-large;
  color: black;
  background-color: skyblue;
}
tr,
td,
th {
  border: 1px solid black;
  margin: 10px;
}
